<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth0 Example</title>
</head>
<body>
  {% if session %}
        <h1>Welcome {{session.userinfo.name}}!</h1>
        <p><a href="/logout">Logout</a></p>
        <div><pre>{{pretty}}</pre></div>
    {% else %}
        <h1>Welcome Guest</h1>
        <p>Please click the login link below to get your personal JWT for access to the API.</p>
        <p><a href="/login">Login</a></p>
    {% endif %}
</body>
</html>